snippet s1 ""

-------------------------------------------|-------------------------------------------------------------

-------------------------------------------|-------------------------------------------------------------

-------------------------------------------|-------------------------------------------------------------

-------------------------------------------|-------------------------------------------------------------

-------------------------------------------|-------------------------------------------------------------

-------------------------------------------|-------------------------------------------------------------
    ${0}
endsnippet

snippet s2 ""
------------>${0}
endsnippet

snippet sni ""
snippet ${1} ""
${0}
endsnippe
endsnippet
#snippet  scanf "hhhhhhhh"

#scanf("%${1}",&${0});

#endsnippe

#snippet  setinc "Comment Section"
##include "stdio.h"
##include "stdlib.h"
##include ${1}

#endsnippet

#snippet while "Comment Section"
#while(${1})
#{
    #${0}
#}
#endsnippet
